<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Y</span>YAME</h1>
            </a>
            <p>
                <h5 style="color:red">Số lượt truy cập: @ApplicationInstance.Application["HitCounter"]</h5>
                <h5 style="color:red">Số người online: @ApplicationInstance.Application["Online"]</h5>
                © 2022 - CÔNG TY TNHH YAME VN

                Giấy CNĐKDN: 0310874914 – Ngày cấp: 25/11/2011 - Cơ quan cấp: Phòng Đăng Ký Kinh Doanh – Sở Kế Hoạch và Đầu Tư TP.HCM
            </p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Địa chỉ đăng ký kinh doanh: 766/3B-3C Sư Vạn Hạnh (Nối dài), Phường 12, Quận 10, TP.HCM</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Email: cskh@yame.vn</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>Điện thoại: (028) 3868 4857 - Mua hàng: (028) 7307 1441</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">FAQ</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Vận chuyển</a>
                        <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Chính sách đổi trả</a>
                        <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo hành</a>
                        <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Khách hàng VIP</a>
                        <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Đối tác cung cấp</a>
                        <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Đặt hàng và thu tiền tận nơi toàn quốc</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">FAQ</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Than phiền/Góp ý</a>
                        <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Giới thiệu về YaMe.vn</a>
                        <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Tuyển dụng</a>
                        <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Quy chế hoạt động</a>
                        <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Điều khoản mua bán</a>
                        <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Mã Voucher giảm giá</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Gửi thư cho chúng tôi</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Tên của bạn là gì ?" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Địa chỉ email của bạn là gì ?"
                                   required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Gửi ngay cho chúng tôi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">KHÁCH HÀNG LÀ THƯỢNG ĐẾ</a> VỚI CHÚNG TÔI CÁC BẠN LÀ TRÊN HẾT
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">TRANG PHỤC CHO GIỚI TRẺ ĐẸP - CHẤT - OK</a><br>
                HÃY MUA NHỮNG TRANG PHỤC ĐẸP <a href="https://themewagon.com" target="_blank"> ĐỂ CHO CUỘC SỐNG CỦA BẠN TỐT HƠN !</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="~/img/payments.png" alt="">
        </div>
    </div>
</div>


<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/js/main.js"></script>

