@model NguyenChiTrung_ShopYAME.Models.KHACHHANG

<div>
    <ul style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <li> Họ tên:&nbsp; @Html.DisplayFor(model => model.HoTen)</li>
        <li>Email: &nbsp;@Html.DisplayFor(model => model.Email) </li>
        <li>Địa chỉ: &nbsp;@Html.DisplayFor(model => model.DiaChi) </li>
        <li> Điện thoại:&nbsp;@Html.DisplayFor(model => model.DienThoai) </li>
    </ul>
</div>
