@model IEnumerable<NguyenChiTrung_ShopYAME.Models.CHITIETSANPHAM>

<table class="table">


@foreach (var item in Model) {
   
            <h6>@Html.DisplayFor(modelItem => item.HoTen)<small> - <i>01 Jan 2045</i></small></h6>

        <div class="text-primary mb-2">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
        
            <p>@Html.DisplayFor(modelItem => item.Comment)</p>

        
    
}

</table>
